@import "./variables";
$horario__size: 0.6rem;

@media (max-width: 768px) {
  .map__large {
    display: none;
  }
  body {
    min-height: 100vh;
  }
  .horario {
    font-size: $horario__size;
  }

  .postre_1 {
    margin-top: 1rem;
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
  .postre_2 {
    margin-top: 1rem;
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
  .postre_3 {
    margin-top: 1rem;
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
}
@media (max-width: 414px) {
  .nosotros {
    width: 300px;
    margin-bottom: 1rem;
  }
  .sucursales {
    @extend.nosotros;
  }
  .pedidos {
    @extend.nosotros;
  }

  .text__historia {
    font-size: 1.5rem;
  }
  .title__historia {
    font-size: 2.5rem;
  }
  .title__index {
    font-size: 2.5rem;
  }
  .title__empanadas {
    font-size: 2.5rem;
  }

  .text__icon {
    text-decoration: none;
  }
}
