@import "./variables";
$horario__size: 0.6rem;

@media (max-width: 768px) {
  .map__large {
    display: none;
  }
  body {
    min-height: 100vh;
  }
  .horario {
    font-size: $horario__size;
  }

  .postre_1 {
    margin-top: 1rem;
    /*map*/
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
  .postre_2 {
    margin-top: 1rem;
    /*map*/
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
  .postre_3 {
    margin-top: 1rem;
    /*map*/
    width: map-get($size_photo, widht);
    height: map-get($size_photo, height);
  }
}
@media (max-width: 414px) {
  .nosotros {
    width: 300px;
    margin-bottom: 1rem;
  }
  .sucursales {
    /*extend*/
    @extend.nosotros;
  }
  .pedidos {
    /*extend*/
    @extend.nosotros;
  }
  /*mixin*/
  @mixin fontsize($font-size) {
    font-size: 2.5rem;
  }
  .text__historia {
    @include fontsize(2.6rem);
  }
  .title__historia {
    @include fontsize(3rem);
  }
  .title__index {
    @include fontsize(3rem);
  }
  .title__empanadas {
    @include fontsize(3.2rem);
  }

  .text__icon {
    text-decoration: none;
  }
}
