@media (max-width: 768px) {
  .map__large {
    display: none;
  }
  body {
    min-height: 100vh;
  }
  .horario {
    display: none;
  }
  .postre_1 {
    margin-top: 1rem;
  }
  .postre_2 {
    margin-top: 1rem;
  }
  .postre_3 {
    margin-top: 1rem;
  }
}
@media(max-width:414px){
    .nosotros{
        width: 300px;
        margin-bottom: 1rem;

    }
    .sucursales{
        width: 300px;
        margin-bottom: 1rem;

    }
    .pedidos{
        width: 300px;
        margin-bottom: 1rem;

    }


}

